form(action='/sessions', method='post')
  label
    | Username
    input(type='text', name='user')
  label
    | Password
    input(type='pasword', name='password')
  input(type='submit', name='submit' )
